{{ form_start(calendarForm) }}
    {{ form_row(calendarForm.title) }}
    {{ form_row(calendarForm.content) }}
    {{ form_row(calendarForm.PublishedAt) }}
    <button type="submit" class="btn btn-primary"> {{ button_text }}</button>
{{ form_end(calendarForm) }}